<div class="well">
<p><b>Please enter the following information in order to obtain a price quote - type of precious stones and semi precious stones you need, weight, shape, clarity, treatment, country of origin, dimensions - length, width, height, or diameter; and price per carat at which you are expecting to buy</p>
</b></div>
<% @ask=Ask.new%>
<%= render 'asks/form' %>


