<div class="jumbotron">
  <p>We are an e-commerce company facilitating global B2B import and export transactions. Following are the business verticals in which we facilitate wholesale B2B transactions.</p>

<div class="container">
  <table class="table">
    <tbody>
    
      <tr>
        
        <td>Wholesale jewelry</td>
        <td>Gemstones and birthstones in wholesale</td>
        <td>Loose precious stones</td>
        
      </tr>
      
      <tr>
        <td>Loose semi precious stones</td>
        <td>Carpets in wholesale</td>
        <td>Wholesale clothing, apparel</td>
      </tr>
      <tr>
        <td>Handbags, purses, and bags in wholesale</td>
        <td>Unfinished leather products in wholesale</td>
        <td>Wholesale finished shoes and semi finished shoes</td>
      </tr>
    </tbody>
  </table>
</div><br>
<span><strong>Please click on the individual category on the left to know about the details of the products that we supply in wholesale</strong></span>

</div>