
  <div class="well"><b>We supply wholesale gemstones at a very competitive price. The gemstones that we supply are the following:</b> </div>

    
     <div class="container">
     <div class="table-responsive">
  <table class="table">
    <tbody>
        <tr> 
        <td>Actinolite Cat's Eye</td>
        <td>Agate</td>
        <td> Agate Geode</td>
        <td>Alexandrite</td>
        <td>Almandine Garnet</td>
        </tr>
        <tr>
        <td> Amazonite</td>
        <td>Amethyst</td>
        
       
      
        <td> Amethyst Geode</td>
        <td>Ametrine</td>
        <td>Ammolite</td>
        </tr>
        <tr>
        <td>Andalusite</td>
        <td>Andesine Labradorite</td>
        <td>Andradite Garnet</td>
        <td>Apatite</td>
      
       
       
          <td>Aquamarine</td>
          </tr>
          <tr>
        <td>Aventurine</td>
        <td>Azurite</td>
        <td>Beryl Gems</td>
        <td>Black Opal</td>
        <td>Bloodstone</td>
        </tr>
        <tr>
        <td>Boulder Opal</td>
      
       

         
          <td>Carnelian</td>
        <td>Cat's Eye Apatite</td>
        <td>Cat's Eye Aquamarine</td>
        <td>Cat's Eye Gems</td>
        </tr>
        <tr>
        <td> Cat's Eye Scapolite</td>
        <td>Chalcedony</td>
        <td>Charoite</td>
       
       
       
       <td>Chocolate Opal</td>
        <td>Chrome Diopside</td>
        </tr>
        <tr>
        <td>Chrome Gems</td>
        <td>Chrome Tourmaline</td>
        <td>Chrysoberyl</td>
        <td>Chrysoberyl Cat's Eye</td>
        <td>Chrysocolla</td>
        </tr>
        <tr>
        
         
         
        <td>Chrysoprase</td>
        <td>Citrine</td>
        <td>Citrine Geode</td>
        <td>Color-Change Diaspore</td>
        <td>Color-Change Garnet</td>
        </tr>
        <tr>
        <td>Color-Change Sapphire</td>
        <td>Coral</td>
        <td>Danburite</td>
        <td>Demantoid Garnet</td>
    
       
       
         <td>Dendritic Agate</td>
         </tr>
         <tr>
        <td>Dendritic Chalcedony</td>
        <td>Diamond</td>
        <td>Diaspore</td>
        <td>Dumortierite Quartz</td>
        <td> Emerald, Enstatite</td>
        </tr>
        <tr>       
       
        <td> Danburite</td>
        <td>Demantoid Garnet</td>
        <td>Dendritic Agate</td>
        <td>Dendritic Chalcedony</td>
        <td>Diamond</td>
        </tr>
        <tr>
        <td>Diaspore</td>
        <td>Dumortierite Quartz</td>
        
       
         
        <td> Emerald, Enstatite</td>
        <td>Fire Agate</td>
        <td>Fire Opal</td>
        </tr>
        <tr>
        <td>Fluorite</td>
        <td>Fossil Coral</td>
        <td>Garnet Gems</td>
        <td>Golden Beryl</td>
       
       
         
         <td>Goshenite</td>
         </tr>
         <tr>
        <td>Hawk's Eye</td>
        <td>Heliodor</td>
        <td>Heliotrope</td>
        <td>Hemimorphite</td>
        <td>Hessonite Garnet</td>
        </tr>
        <tr>
        <td>Howlite</td>
        
       
       
      <td>Idocrase</td>
        <td>Imperial Topaz</td>
        <td>Iolite</td>
        <td>Jade</td>
        </tr>
        <tr>
        <td>Jadeite</td>
        <td>Jasper</td>
        <td>Kornerupine</td>

       
          
        <td>Kunzite</td>
        <td>Kyanite</td>
        </tr>
        <tr>
        <td>Labradorite</td>
        <td>Lapis Lazuli</td>
        <td>Larimar</td>
        <td>Lepidolite</td>
        <td>Malachite</td>
        </tr>
        <tr>
       
          
         <td>Malaya Garnet</td>
        <td>Mali Garnet</td>
        <td>Maw-Sit-Sit</td>
        <td>Melanite</td>
        <td>Moonstone</td>
        </tr>
        <tr>
        <td>Morganite</td>
        <td>Mother of Pearl</td>
        
       
       
      <td>Mystic Topaz</td>
        <td>Obsidian</td>
        <td>Opal</td>
        </tr>
        <tr>
        <td>Opal Doublet</td>
        <td>Pearl</td>
        <td>Peridot</td>
        <td>Pietersite</td>
       
          
        
        <td>Prehnite</td>
        </tr>
        <tr>
        <td>Pyrope Garnet</td>
        <td>Quartz</td>
        <td>Quartz Cat's Eye</td>
        <td>Rainbow Moonstone</td>
        <td>Rainbow Pyrite</td>
        </tr>
        <tr>
        <td>Rhodochrosite</td>
        
       
          
       <td>Rhodolite Garnet</td>
        <td>Rose Quartz</td>
        <td>Ruby</td>
        <td>Ruby in Fuchsite</td>
        </tr>
        <tr>
        <td>Ruby-Zoisite</td>
        <td>Rutilated Gems</td>
        <td>Rutile Quartz</td>
        
       
          
         <td>Rutile Topaz</td>
        <td>Sapphire</td>
        </tr>
        <tr>
        <td>Seraphinite</td>
        <td>Serpentine</td>
        <td>Smithsonite</td>
        <td>Smoky Quartz</td>
        <td>Snowflake Obsidian</td>
        </tr>
        
       
       <tr>
      	<td>Sodalite</td>
        <td>Spessartite Garnet</td>
        <td>Sphalerite</td>
        <td>Sphene</td>
        <td>Spinel</td>
        </tr>
        <tr>
        <td>Star Diopside</td>
        <td>Star Garnet</td>
        
       
        
        <td>Star Gemstones</td>
        <td>Star Lemon Quartz</td>
        <td>Star Moonstone</td>
        </tr>
        <tr>
        <td>Star Rose Quartz</td>
        <td>Star Sapphire</td>
        <td>Sugilite</td>
        <td>Tanzanite</td>
        
       

         
        <td>Tiger's Eye</td>
        </tr>
        <tr>
        <td>Tiger's Eye Matrix</td>
        <td>Topaz</td>
        <td>Tourmaline</td>
        <td>Tsavorite Garnet</td>
        <td>Turquoise</td>
        </tr>
        <tr>
        <td>Uvarovite Garnet Drusy</td>
        
       
          
        <td>Variscite</td>
        <td>Zircon</td>
        <td>Zultanite</td>
       </tr>
    </tbody>
  </table>
    </div>
</div>
<%= render template:'asks/new' %>



